<table
  width="1024"
  border="1"
  align="center"
  cellpadding="0"
  cellspacing="1"
  bordercolor="#666666"
  bgcolor="#FFFFCC"
>
  <tr>
    <td class="style6">
      <div align="center" class="style2">
        <a href="/">Home Page</a>
      </div>
    </td>
    <td class="style6">
      <div align="center" class="style2">
        <a href="Woodland_Park">Woodland</a>
      </div>
    </td>
    <td class="style6">
      <div align="center" class="style2">
        <a href="Path_Network">Paths Network</a>
      </div>
    </td>
    <td class="style6">
      <div align="center" class="style2">
        <a href="Local_Activities">Activities</a>
      </div>
    </td>
    <td class="style6">
      <div align="center" class="style2">
        <a href="History - Past and Present">History Past &amp; Present</a>
        <a href="Poet in Residence"></a>
        <a href="History - Past and Present"></a>
        <a href="Local_Services"></a>
      </div>
    </td>
  </tr>
  <tr>
    <td class="style6">
      <div align="center" class="style2">
        <a href="Westmuir Community Development Trust">Westmuir Trust </a>
      </div>
    </td>
    <td class="style6">
      <div align="center" class="style2">
        <a href="Loch of Kinnordy">Loch of Kinnordy </a>
      </div>
    </td>
    <td class="style6">
      <div align="center" class="style2">
        <a href="Web_Links">Web Links </a>
      </div>
    </td>
    <td class="style6">
      <div align="center" class="style2">
        <a href="Contact_Us">Contact Us </a>
      </div>
    </td>
    <td class="style6">
      <div align="center" class="style2">
        <a href="Poet in Residence">Poet in Residence</a>
        <a href="Link Page to Photo Galleries"></a>
      </div>
    </td>
  </tr>
</table>
