<div class="nav-main style2 grid">
  <div class="nav-item">
    <a href="/">Home Page</a>
  </div>
  <div class="nav-item">
    <a href="Woodland_Park">Woodland</a>
  </div>
  <div class="nav-item">
    <a href="Path_Network">Paths Network</a>
  </div>
  <div class="nav-item">
    <a href="Local_Activities">Activities</a>
  </div>
  <div class="nav-item">
    <a href="History - Past and Present">History Past &amp; Present</a>
  </div>
  <div class="nav-item">
    <a href="Westmuir Community Development Trust">Westmuir Trust </a>
  </div>
  <div class="nav-item">
    <a href="Loch of Kinnordy">Loch of Kinnordy </a>
  </div>
  <div class="nav-item">
    <a href="Web_Links">Web Links </a>
  </div>
  <div class="nav-item">
    <a href="Contact_Us">Contact Us </a>
  </div>
  <div class="nav-item">
    <a href="Poet in Residence">Poet in Residence</a>
  </div>
</div>
