<div class="nav-main grid">
  <div class="nav-item">
    <a href="/">Home Page</a>
  </div>
  <div class="nav-item">
    <a href="Woodland_Park.html">Woodland</a>
  </div>
  <div class="nav-item">
    <a href="Path_Network.html">Paths Network</a>
  </div>
  <div class="nav-item">
    <a href="Local_Activities.html">Activities</a>
  </div>
  <div class="nav-item">
    <a href="History - Past and Present.html">History Past &amp; Present</a>
  </div>
  <div class="nav-item">
    <a href="Westmuir Community Development Trust.html">Westmuir Trust </a>
  </div>
  <div class="nav-item">
    <a href="Loch of Kinnordy.html">Loch of Kinnordy </a>
  </div>
  <div class="nav-item">
    <a href="Web_Links.html">Web Links </a>
  </div>
  <div class="nav-item">
    <a href="Contact_Us.html">Contact Us </a>
  </div>
  <div class="nav-item">
    <a href="Poet in Residence.html">Poet in Residence</a>
  </div>
</div>
