{% set navPages = collections.all | eleventyNavigation %}

<header class="top-app-bar admin-tabbar">
  <div class="top-app-bar-row admin-tabbar-row">
    <section class="top-app-bar-section top-app-bar-section-align-start">
      <md-tabs class="admin-tabbar-tabs" @change="onTabsChange">
        {%- for entry in navPages %}

        <md-primary-tab {% if entry.url==page.url %} active {% endif %} inline-icon>
          {% if entry.key=="Home" %}<md-icon slot="icon">home</md-icon>{%endif%}
          <a class="navlink" href="{{ entry.url }}"> {{entry.title }}</a>
        </md-primary-tab>
        {%- endfor %}
      </md-tabs>
    </section>
  </div>
</header>
<div class="top-app-bar-fixed-adjust"></div>
