---js
{ title: 'Westmuir Village, Angus'
}
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{{title}}</title>

    <!-- Loads definition for <lit-island>. See docs for @11ty/is-land for usage -->
    <script type="module" src="/js/ssr-utils/lit-island.js"></script>
    <style>
      body[dsd-pending] {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="/css/site.css" />

    {% if css %} {% for link in css %}
    <link rel="stylesheet" href="{{link}}" />
    {% endfor %} {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <script type="module" src="/js/vma.js"></script>
  </head>

  <body dsd-pending>
    {% inlinejs "ssr-utils/dsd-polyfill.js" %}
    <lit-island>
      <main id="main-content" tabindex="0">
        {% block content %}{{ content | safe }}{% endblock %}
      </main>
    </lit-island>
  </body>
</html>
