.home-banner {
  width: 1024;
  height: 250;
}



.home-aside {
  background-color: #fff;
  text-align: center;
  vertical-align: top;
}
.home-aside blockquote {
  margin: 1em;
}

.home-content {
  vertical-align: top;
}

.home-item {
  padding: 20px;
}
.poster-item {
  max-width: 500px;
}

.poster-item-wide {
  max-width: 768px;
}


.home-item-image {
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.home-aside-image {
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.home-images-row {
  display: flex;
  flex: 1;
  margin-top: 15px;
  justify-content: space-between;
}
.home-images-row div {
  margin-left: 5px;
  margin-right: 5px;
}

.home-images-row img {
  width: 100%;
  height: auto;
}

.home-images-row-narrow {
  max-width: 80%;
  img {
    width: 100%;
    height: auto;
  }
}

.wcdt-logo {
  width: 85px;
}
.pfa-logo {
  width: 150px;
}

.snh-logo {
  width: 350px;
}

.home-highlight {
  border: 1px solid #222;
}

.home-image-aside {
  display: flex;
  img {
    margin-right: 20px;
  }
  div {
    text-align: left;
  }
}

.home-intro {
  max-width: 1024px;
  text-align: center;
  font-size: 18px;
}

.home-main {
  display: grid;
  grid-template-columns: min-content 1fr;
  columns: 20px;
  max-width: 1024px;
}

@media screen and (max-width: 1023px) {
  .home-intro {
    max-width: 768px;
    font-size: 16px;
  }

  .home-aside-image {
    max-width: 200px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .home-aside blockquote {
    margin: 0.5em;
  }
}
