.home-banner {
  width: 1024;
  height: 250;
}


.navbar-container {
  position: relative;
  z-index: 20;
  flex-shrink: 0;
}


.top-app-bar-tla {
  margin-left: 10px;
  font-family: var(--md-sys-typescale-headline-small-font);
  font-weight: var(--md-sys-typescale-headline-small-weight);
}

.top-app-bar-logo {
  width: 32px;
}

.top-app-bar .top-app-bar-logo {
  width: 32px;
}

.top-app-bar .top-app-bar-tla {
  margin-left: 10px;
  font-weight: 700;
}

@media only screen and (750px <= width) {
  .top-app-bar-narrow {
    display: none;
  }
}

@media only screen and (width > 750px) {
  .top-app-bar-wide {
    display: none;
  }
}

.top-app-bar {
  position: fixed;
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;

  color: #fff;

  background-color: #0b4014;
  background-color: var(--mdc-theme-primary, #0b4014);
}

.top-app-bar-dense .top-app-bar-row.admin-tabbar-row {
  height: 48px;
}

.admin-tabbar .admin-tabbar-tabs {
  --mdc-typography-button-font-size: 14px;
  --md-sys-color-on-surface-variant: white;
  --md-sys-color-surface: auto;
}

.admin-tabbar-tabs::part(divider) {
  --md-divider-color: #0b4014;
}

.top-app-bar-fixed-adjust {
  padding-top: 64px;
}

.top-app-bar-dense-fixed-adjust {
  padding-top: 48px;
}

.top-app-bar-row {
  position: relative;
  z-index: 1;

  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: 64px;
}

.top-app-bar .top-app-bar-row:nth-of-type(1) {
  z-index: 2;
}

.top-app-bar-section-align-start {
  justify-content: flex-start;
  order: -1;
}

.top-app-bar-section-align-end {
  justify-content: flex-end;
  order: 1;
}

.top-app-bar-section {
  z-index: 1;

  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;

  min-width: 0;
  padding: 8px 12px;
}

.home-aside {
  background-color: #fff;
  text-align: center;
  vertical-align: top;
}
.home-aside blockquote {
  margin: 1em;
}

.home-content {
  vertical-align: top;
}

.home-item {
  padding: 20px;
}
.home-item-image {
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.home-aside-image {
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.home-images-row {
  display: flex;
  flex: 1;
  margin-top: 15px;
  justify-content: space-between;
}
.home-images-row div {
  margin-left: 5px;
  margin-right: 5px;
}

.home-images-row img {
  width: 100%;
  height: auto;
}

.home-images-row-narrow {
  max-width: 80%;
  img {
    width: 100%;
    height: auto;
  }
}

.wcdt-logo {
  width: 85px;
}
.pfa-logo {
  width: 150px;
}

.snh-logo {
  width: 350px;
}

.home-highlight {
  border: 1px solid #222;
}

.home-image-aside {
  display: flex;
  img {
    margin-right: 20px;
  }
  div {
    text-align: left;
  }
}

.home-intro {
  max-width: 1024px;
  text-align: center;
  font-size: 18px;
}

.home-main {
  display: grid;
  grid-template-columns: min-content 1fr;
  columns: 20px;
  max-width: 1024px;
}

@media screen and (max-width: 1023px) {
  .home-intro {
    max-width: 768px;
    font-size: 16px;
  }

  .home-aside-image {
    max-width: 200px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .home-aside blockquote {
    margin: 0.5em;
  }
}
