h3 {
  text-align: left;
}

.lok-aside-row {
  display: flex;
  margin-top: 2em;
}

.lok-aside-right {
  margin-left: 25px;
  align-self: center;
}

.lok-aside-left {
  margin-right: 25px;
  align-self: center;
}

.lok-aside-image {
  width: 244px;
  height: 225px;
  border: 1px solid #666;
}

.lok-aside-grebe {
  width: 275px;
  height: auto;
  border: 1px solid #666;
}

.lok-aside-grebe + .lok-aside-grebe {
  margin-top: 2em;
}

.lok-aside-area {
  width: 543;
  height: auto;
}

.lok-aside-amphibian {
  width: 318;
}

.lok-aside-volunteer {
  width: 295px;
  height: auto;
  border: 1px solid #666;
}

.lok-citation {
  text-align: center;
  font-size: 14px;
  color: #555;
}
