.path-row {
  display: flex;
  margin-top: 1em;
}

.path-row-text {
  flex: 1;
  margin-left: 1em;
  margin-right: 1em;
}

.path-row-image {
}
.path-row-image + .path-row-image {
  margin-left: 1em;
}

.path-row-image-kpn {
  width: 165;
  height: auto;
  border: 1px solid #666;
}

.path-row-image-signs {
  width: 275;
  height: auto;
  border: 1px solid #666;
}

.path-row-image-reader {
  width: 275px;
  height: auto;
  border: 1px solid #666;
}
