.pir-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% - 40px);
  margin-bottom: 2em;
}

.pir-list div:nth-child(2n + 1) {
  font-weight: 600;
  text-align: right;
  padding-right: 40px;
}
