.woodland-row {
  display: flex;
  margin-top: 2em;
}

.woodland-item-image {
  flex: 0;
}

.woodland-image {
  border: 1px solid #666;
  width: 300px;
  height: auto;
}

.woodland-item-text {
  flex: 1;
  margin-right: 1em;
  margin-left: 1em;
}

.woodland-actions {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
}

.woodland-actions-caption {
  margin-top: 1em;
  text-align: center;
}
