body {
  background-image: url();
  background-repeat: repeat;
  background-color: #ffffcc;

  font-family: 'Roboto', sans-serif;
}
.style1 {
  font-size: 24px;
}
.style2 {
  font-size: 16px;
}

.style6 {
  font-size: 24px;
  color: #000066;
}

.style10 {
  color: #0000ff;
  font-size: 16px;
}
.style13 {
  color: #000066;
  font-size: 16px;
}
.style14 {
  color: #000066;
}

.style34 {
  font-size: 12px;
}
.style45 {
  font-size: 22px;
  color: #339933;
}
.style48 {
  color: #ff0000;
  font-size: 22px;
}
.style54 {
  color: #66ff00;
  font-weight: bold;
}

.style60 {
  font-size: 22px;
  color: #ff0000;
}
.style62 {
  font-size: 16px;
  color: #339933;
}
.style63 {
  color: #000000;
  font-weight: bold;
}

.nav-main-x {
  margin-top: 20px;
}

.grid {
  --gap: 5px;
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 2px;
  --line-color: red;
}

:root {
  --grid-border: 3px double #666;
}
.nav-main {
  display: grid;
  width: 1024px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0;
  margin-top: 20px;
  border-collapse: collapse;
  border-top: var(--grid-border);
  border-left: var(--grid-border);
  font-size: 18px;
}

.nav-item {
  border-right: var(--grid-border);
  border-bottom: var(--grid-border);
}

.nav-item {
  text-align: center;
  padding: 3px;
  position: relative;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 80%;
}

.banner-image {
  border: 1px solid #666;
}

.column-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.column-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}
.container {
  margin-top: 1em;
}

.container::after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
