.news-item-wrapper {
  display: flex;
  justify-content: center;
}

.news-item {
  display: flex;
  align-items: center;
}

.agm-invite {
  width: 400px;
  height: auto;
  margin-left: 2em;
}

.wcdt-headline {
  color: rgb(38, 0, 255);
  font-size: 18px;
  font-weight: 600;
}
.wcdt-sep {
  margin-top: 1em;
  margin-bottom: 2em;
}

.wcdt-list li {
  margin-top: 1em;
}
