---
layout: base.html
title: Contact and Directions to Westmuir
---

<div class="main-wrapper">
  <img
    class="banner-image"
    src="images/Banner_Contact_Page.jpg"
    alt="Banner_Activities"
    name="Banner_Activities"
    id="Banner_Activities"
  />

  {% include 'nav.html' %}

  <div class="main-content">
    <p align="center" class="style2">
      We are interested in hearing from you on any aspect of the Westmuir Village Website or about
      the village itself. Please use the email address below to contact us in the first instance.
      Your email will be passed to the person best able to help.
    </p>

    <div class="column-2">
      <div align="center">
        <p class="style6">How to get to Westmuir</p>

        <p class="style2">
          Westmuir lies on the A926 about 1 mile west of Kirriemuir in Angus, Scotland. The map
          opposite can be moved and zoomed in or out as required and also viewed in a variety of
          formats.
        </p>
        <p class="style2">For Satnav users, navigate to postcode DD8 5LP.</p>
        <p class="style6">How to get in touch.</p>
        <p class="style2">
          If you would like to contact us with an enquiry relating to any aspect of this website or
          apply to use the Noticeboard or Local Services, please send us an email at the address
          below:
        </p>
        <p class="style2">
          <img
            src="images/Email Button.jpg"
            alt="Our Email address"
            name="Email_Button"
            width="300"
            height="100"
            border="1"
            id="Email_Button"
          />
        </p>
      </div>
      <div align="center">
        <p class="style6">Map and Directions</p>

        <form id="form1" name="form1" method="post" action="">
          <iframe
            width="425"
            height="350"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.co.uk/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=101408776423615584188.00048a29e3f9a426a40a4&amp;ll=56.666887,-3.02742&amp;spn=0.033015,0.072956&amp;z=13&amp;output=embed"
          ></iframe>
          <br />
          <br />

          <span class="style2">
            To get detailed directions to Westmuir from wherever you are, click on the blue tab in
            the map for further instructions.
          </span>
        </form>
      </div>
    </div>
  </div>

  {% include 'nav.html'%}
</div>
