---
layout: base.html
title: Church Web Links
---

<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <img
        src="images/Banner_Church_Web_Links.jpg"
        alt="Banner_Web_Links"
        name="Banner_Web_Links"
        width="1024"
        height="200"
        border="1"
        id="Banner_Web_Links"
      />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>{% include 'nav.njk' %}</td>
  </tr>
</table>
<table width="1032" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="5">
      <p align="center" class="style7">
        There are several churches local to the Westmuir area which offer a
        variety of denominations and worship styles.&nbsp; All of them make
        visitors very welcome.&nbsp; Please use the links to their own websites
        or telephone numbers where listed below to find out more information
        about locations and service times.
      </p>
    </td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td width="450" class="style13">
      <p>
        <a href="http://www.standrews-kirriemuir.org.uk/" target="_blank"
          >St Andrew&rsquo;s Church of Scotland, Kirriemuir</a
        >
      </p>
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <p>
        <a
          href="http://www.gkopc.co.uk/"
          title="Click here to go to the GKOPC Website"
          target="_blank"
          >The Glens &amp; Kirriemuir Old Parish Church, Kirriemuir</a
        >
      </p>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <p>
        <a href="https://www.kirriemuir-anglican.org/" target="_blank"
          >St Mary&rsquo;s Episcopal Church, Kirriemuir</a
        >
      </p>
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <p>
        <a
          href="http://www.sacredscotland.org.uk/church/st-anthonys-kirriemuir"
          target="_blank"
          >St Anthony&rsquo;s Roman Catholic Church, Kirriemuir</a
        >
      </p>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <p>
        <a
          href="http://www.sacredscotland.org.uk/church/st-anthonys-kirriemuir"
        ></a>
        <a
          href="http://churches.evangelical-times.org/church/616/free-baptist-church-kirriemuir"
          target="_blank"
          >Free Baptist Church, Kirriemuir</a
        >
      </p>
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a href="http://www.strathmorecf.org.uk/" target="_blank"
        >Strathmore Christian Fellowship, Kirriemuir
      </a>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <p>Westmuir Christian House Fellowship, Westmuir :</p>
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13"><p>Contact: 01575 573221 or 01575 572603</p></td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>

  <tr>
    <td align="center">&nbsp;</td>
    <td align="center" class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center" class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="50" align="center">
      <a href="PDF Pages/Kung Fu MASTER File.pdf"></a>
    </td>
    <td align="center" class="style13">&nbsp;</td>
    <td width="37" align="center">&nbsp;</td>
    <td width="440" align="center" class="style13">
      <div align="left"><span class="style14"></span></div>
    </td>
    <td width="55" align="center">&nbsp;</td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table
        width="1024"
        border="1"
        cellpadding="0"
        cellspacing="1"
        bordercolor="#666666"
        bgcolor="#FFFFCC"
      >
        <tr>
          <td class="style6">
            <div align="center" class="style2"><a href="/">Home Page</a></div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Woodland_Park.html">Woodland</a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Path_Network.html">Paths Network</a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Local_Activities.html">Activities</a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="History - Past and Present.html"
                >History Past &amp; Present</a
              ><a href="Poet in Residence.html" target="_blank"></a
              ><a href="History - Past and Present.html"></a
              ><a href="Local_Services.html"></a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Westmuir Community Development Trust.html"
                >Westmuir Trust
              </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Loch of Kinnordy.html">Loch of Kinnordy </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Web_Links.html">Web Links </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Contact_Us.html">Contact Us </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Link Page to Photo Galleries.html">Photo Galleries </a>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
