---
layout: base.html
title: Local Activities in Westmuir - Tai Chi, Kung Fu, SWRI, Bellydance
---

<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <img
        src="images/Banner_Activities.jpg"
        alt="Banner_Activities"
        name="Banner_Activities"
        width="1024"
        height="200"
        border="1"
        id="Banner_Activities"
      />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>{% include 'nav.njk' %}</td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3">
      <p align="center" class="style7">
        Westmuir boasts a number of local activities which cater for most
        tastes. Whether you are a keen walker, good at homecrafts or would like
        to try the ancient art of Tai Chi, there is a group which will welcome
        you along. For more information on each of the following just click on
        the picture of your choice and find out what each group does, when it
        meets and who to contact if you would like more information. Go on -
        have a go - you might just surprise yourself!
      </p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="PDF Pages/Activities pdfs/Westmuir Tots Time.pdf" target="_blank"
        ><img
          src="images/Activity_Tots_Time.jpg"
          alt="Activity_1"
          name="Activity_Top_Left"
          width="300"
          height="200"
          border="1"
          align="middle"
          id="Activity_Top_Left"
      /></a>
    </td>
    <td>
      <div align="center">
        <p class="style11">Latest News</p>
        <p class="style9">
          The following are current contact details for Yoga Classes which take
          place twice per week in the Village Hall.
        </p>
        <p>Monday 6:15 - 7:15 Janey Andrews 07934443557 janey@glentrek.com</p>
        <p>Wednesday 6:00 - 7:00 Gavin 01575 598297</p>
        <p class="style9">&nbsp;</p>
      </div>
      <p class="style7">&nbsp;</p>
    </td>
    <td align="center">
      <a href="PDF Pages/Activities pdfs/Westmuir Tai Chi.pdf" target="_blank"
        ><img
          src="images/Activity_Tai_Chi.jpg"
          alt="Activity_3"
          name="Activities_Top_Right"
          width="300"
          height="200"
          border="1"
          id="Activities_Top_Right"
      /></a>
    </td>
  </tr>
  <tr>
    <td height="275" align="center">
      <a
        href="PDF Pages/Activities pdfs/Westmuir_Yoga_Class.pdf"
        target="_blank"
        ><img
          src="images/Activity_Yoga.jpg"
          alt="Activity_4"
          name="Activities_Middle_Left"
          width="300"
          height="200"
          border="1"
          id="Activities_Middle_Left"
      /></a>
    </td>
    <td align="center">
      <a
        href="PDF Pages/Activities pdfs/Westmuir Hall History.pdf"
        target="_blank"
        ><img
          src="images/Activity_Hall.jpg"
          alt="Activity_2"
          name="Activities_Top_Centre"
          width="300"
          height="200"
          border="1"
          id="Activities_Top_Centre"
      /></a>
    </td>
    <td align="center">
      <a href="PDF Pages/Activities pdfs/Westmuir SWRI.pdf" target="_blank"
        ><img
          src="images/Activity_SWRI.jpg"
          alt="Activity_5"
          name="Activities_Middle_Centre"
          width="300"
          height="200"
          border="1"
          id="Activities_Middle_Centre" /></a
      ><a
        href="PDF Pages/Activities pdfs/Westmuir Bellydance.pdf"
        target="_blank"
      ></a>
    </td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>{% include 'nav.njk'%}</td>
  </tr>
</table>
<p align="center">
  <a href="http://get.adobe.com/uk/reader/otherversions/" target="_blank"
    ><img
      src="images/Adobe _Reader.gif"
      alt="Get Adobe Reader"
      width="112"
      height="33"
      border="0"
  /></a>
</p>
<p>&nbsp;</p>
