---
layout: base.html
title: Local Walks
---

<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <img
        src="images/Banner_Local_Walks.jpg"
        alt="Banner_Web_Links"
        name="Banner_Web_Links"
        width="1024"
        height="200"
        border="1"
        id="Banner_Web_Links"
      />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>{% include 'nav.njk' %}</td>
  </tr>
</table>
<table width="1032" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="5">
      <p align="center" class="style7">
        Westmuir sits at the foot of the Angus Glens and is an ideal starting
        point for many local and nearby walks. The links below will take you to
        a variety of routes suitable to most abilities and provide not only the
        starting point and route distance but also a profile of the terrain
        which is ideal in deciding where best to take a rest ! Our thanks to
        George Milne, local Westmuir resident, for sharing this rambler's
        resource for all to enjoy.
      </p>
    </td>
  </tr>

  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a
        href="Walk of the Month/Glenhead-Black Binks-Glen Damff-Backwater.pdf"
        target="_blank"
        >Glenhead-Black Binks-Glen Damff-Backwater . . .
      </a>
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a
        href="Walk of the Month/Loch_Shandra_&amp;_Auchintaple_Loch_20_05_2014.pdf"
        target="_blank"
        >Loch Shandra and Auchintaple Loch Circuit . . .</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <div align="center">Auchintaple Loch Circuit</div>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="25" align="center">&nbsp;</td>
    <td width="523" class="style13">
      <a
        href="PDF Pages/St_Arnold's_Seat_&amp;_Glenogil_Reservoir_Circular_2014.pdf"
        target="_blank"
        >St Arnold's Seat &amp; Glenogil Reservoir</a
      >
      . . .
    </td>
    <td width="25" align="center">&nbsp;</td>
    <td width="441" class="style13">
      <div align="center">Press Play to view</div>
    </td>
    <td width="18" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <div align="left">
        <a
          href="Walk of the Month/Kilbo_Path-Mayar-Corrie_Fee_Circular.pdf"
          target="_blank"
          >Kilbo Path - Mayar - Corrie Fee Circular</a
        >
      </div>
    </td>
    <td align="center">
      <div align="left"></div>
    </td>
    <td rowspan="12" class="style13">
      <div align="center">
        <div>
          <video
            src="/videos/auchintaple.mp4"
            controls
            width="512"
            height="384"
          ></video>
        </div>
        <br />
      </div>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a
        href="Walk of the Month/Middle_Coul_-_Creigh_Hill_-_Craig_of_Balloch_Circular.pdf"
        target="_blank"
        >Middle Coul &amp; Craig of Balloch Circular</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <div align="left">
        <a href="Walk of the Month/Glamis - Denoon Circular.pdf" target="_blank"
          >Glamis &amp; Denoon Hill Fort Circular</a
        >
      </div>
    </td>
    <td align="center">
      <div align="left"></div>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <div align="left">
        <a href="Walk of the Month/Ruthven_Circular.pdf" target="_blank"
          >Ruthven Circular</a
        >
      </div>
    </td>
    <td align="center">
      <div align="left"></div>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <div align="left">
        <a href="Walk of the Month/Auchentaple_Loch_Circuit.pdf" target="_blank"
          >Auchintaple Loch Circuit</a
        >
      </div>
    </td>
    <td align="center">
      <div align="left"></div>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <div align="left">
        <a
          href="Walk of the Month/Kettins - Drumsuldry Wood Circular Walk + Extension.pdf"
          target="_blank"
          >Kettins - Drumsuldry Wood Circular</a
        >
      </div>
    </td>
    <td align="center">
      <div align="left"></div>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <div align="left">
        <a
          href="Walk of the Month/Den_of_Alyth_&amp;_Hill_of_Alyth_Circular.pdf"
          target="_blank"
          >Den of Alyth - Hill of Alyth Circular</a
        >
      </div>
    </td>
    <td align="center">
      <div align="left"></div>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a href="Walk of the Month/The_Kirriemuir_Walk.pdf" target="_blank"
        >The Kirriemuir Walk</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a href="Walk of the Month/The_Kinnordy_Walk.pdf" target="_blank"
        >The Kinnordy Walk</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a href="Walk of the Month/The_Glamis_Walk.pdf" target="_blank"
        >The Glamis Walk</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a
        href="Walk of the Month/Loch_Brandy_and_Ben_Reid_Circular.pdf"
        target="_blank"
        >Loch Brandy &amp; Ben Reid
      </a>
    </td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a href="Walk of the Month/Braes_of_Coul.pdf" target="_blank"
        >Braes of Coul</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a
        href="Walk of the Month/Lintrathen-Fornethy-Peel_Circular_.pdf"
        target="_blank"
        >Lintrathen - Fornethy - Peel - Circular</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13"></td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a href="Walk of the Month/The_Lindertis_Walk.pdf" target="_blank"
        >The Lindertis Walk</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13"></td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a
        href="Walk of the Month/Kirrie_Kinnordy_Egnomoss_Herdhill_Walk.pdf"
        target="_blank"
        >Kirriemuir - Kinnordy - Egnomoss - Herdhill</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a
        href="Walk of the Month/Kingoldrum-Baldovie-Cairnleith-Balfour_Circuit.pdf"
        target="_blank"
        >Kingoldrum - Baldovie - Cairnleith - Balfour Circuit</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <div align="center"></div>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a href="Walk of the Month/Culhawk_&amp;_Castle_Hill.pdf" target="_blank"
        >Culhawk and Castle Hill</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a
        href="Walk of the Month/Balmashanner_&amp;_Forfar_Loch_Circular.pdf"
        target="_blank"
        >Balmashanner and Forfar Loch Circuit</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <div align="center"></div>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a href="Walk of the Month/Tullybaccart_Lochs_Circuit.pdf" target="_blank"
        >Tullybaccart Lochs Circuit
      </a>
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a href="Walk of the Month/Dryloch_Bluebell_Wood.pdf" target="_blank"
        >Dryloch Bluebell Wood</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="style13">
      <a
        href="Walk of the Month/Alyth-Hill_of_St_Fink-Den_of_Welton-Hill_of_Alyth_Circuit.pdf"
        target="_blank"
        >Alyth - Hill of St Fink - Den of Welton - Hill of Alyth</a
      >
    </td>
    <td align="center">&nbsp;</td>
    <td class="style13">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>{% include 'nav.njk'%}</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
