---
layout: default
title: Local Activities in Westmuir - Tai Chi, Kung Fu, SWRI, Bellydance
---

<div class="main-wrapper">
  <img
    class="banner-image"
    src="images/Banner_Activities.jpg"
    alt="Banner_Activities"
    name="Banner_Activities"
    id="Banner_Activities"
  />

  {% include 'nav.html' %}

  <div class="main-content">
    <p align="center" class="style2">
      Westmuir boasts a number of local activities which cater for most tastes. Whether you are a
      keen walker, good at homecrafts or would like to try the ancient art of Tai Chi, there is a
      group which will welcome you along. For more information on each of the following just click
      on the picture of your choice and find out what each group does, when it meets and who to
      contact if you would like more information. Go on - have a go - you might just surprise
      yourself!
    </p>

    <div class="column-3">
      <a href="PDF Pages/Activities pdfs/Westmuir Tots Time.pdf" target="_blank"
        ><img
          src="images/Activity_Tots_Time.jpg"
          alt="Activity_1"
          name="Activity_Top_Left"
          width="300"
          height="200"
          border="1"
          align="middle"
          id="Activity_Top_Left"
      /></a>

      <div align="center">
        <p class="style11">Latest News</p>
        <p class="style9">
          The following are current contact details for Yoga Classes which take place twice per week
          in the Village Hall.
        </p>
        <p>Monday 6:15 - 7:15 Janey Andrews 07934443557 janey@glentrek.com</p>
        <p>Wednesday 6:00 - 7:00 Gavin 01575 598297</p>
        <p class="style9">&nbsp;</p>
      </div>

      <a href="PDF Pages/Activities pdfs/Westmuir Tai Chi.pdf" target="_blank"
        ><img
          src="images/Activity_Tai_Chi.jpg"
          alt="Activity_3"
          name="Activities_Top_Right"
          width="300"
          height="200"
          border="1"
          id="Activities_Top_Right"
      /></a>

      <a href="PDF Pages/Activities pdfs/Westmuir_Yoga_Class.pdf" target="_blank"
        ><img
          src="images/Activity_Yoga.jpg"
          alt="Activity_4"
          name="Activities_Middle_Left"
          width="300"
          height="200"
          border="1"
          id="Activities_Middle_Left"
      /></a>

      <a href="PDF Pages/Activities pdfs/Westmuir Hall History.pdf" target="_blank"
        ><img
          src="images/Activity_Hall.jpg"
          alt="Activity_2"
          name="Activities_Top_Centre"
          width="300"
          height="200"
          border="1"
          id="Activities_Top_Centre"
      /></a>

      <a href="PDF Pages/Activities pdfs/Westmuir SWRI.pdf" target="_blank"
        ><img
          src="images/Activity_SWRI.jpg"
          alt="Activity_5"
          name="Activities_Middle_Centre"
          width="300"
          height="200"
          border="1"
          id="Activities_Middle_Centre"
      /></a>
    </div>
  </div>

  {% include 'nav.html'%}

  <p align="center">
    <a href="http://get.adobe.com/uk/reader/otherversions/" target="_blank"
      ><img
        src="images/Adobe _Reader.gif"
        alt="Get Adobe Reader"
        width="112"
        height="33"
        border="0"
    /></a>
  </p>
</div>
