---
layout: base.html
title: Local Westmuir Companies
---

<div class="main-wrapper">
  <img
    class="banner-image"
    src="images/Local Businesses/Banner_Local_Businesses.jpg"
    alt="Banner_Galleries"
    name="Banner_Galleries"
    id="Banner_Galleries"
  />

  {% include 'nav.html' %}

  <div class="main-content">
    <p>
      Westmuir is host to a number of successful companies which operate throughout Angus and much
      further afield. The links below offer contact details and may also lead to further information
      or to the relevant company website where appropriate.
    </p>

    <div class="content-row">
      <a
        href="http://www.plovermuircottages.co.uk"
        target="_blank"
        onmouseover="MM_swapImage('Plovermuir','','images/Local Businesses/Plovermuir_2.jpg',1)"
        onmouseout="MM_swapImgRestore()"
        ><img
          src="images/Local Businesses/Plovermuir_1.jpg"
          name="Plovermuir"
          width="300"
          height="201"
          border="1"
          id="Plovermuir"
      /></a>

      <a
        href="http://www.garysinclairarchitecture.com/"
        target="_blank"
        onmouseover="MM_swapImage('Gary Sinclair','','images/Local Businesses/Gary_Sinclair_2.jpg',1)"
        onmouseout="MM_swapImgRestore()"
        ><img
          src="images/Local Businesses/Gary_Sinclair_1.jpg"
          alt="Gary Sinclair Architecture"
          name="Gary Sinclair"
          width="300"
          height="201"
          border="1"
          id="Gary Sinclair" /></a
      ><a href="http://www.garysinclairarchitecture.com/" target="_blank"></a>
      <a
        href="http://www.patchworkcottage.co.uk/"
        target="_blank"
        onmouseover="MM_swapImage('Patchwork','','images/Local Businesses/Patchwork_Cottage_2.jpg',1)"
        onmouseout="MM_swapImgRestore()"
        ><img
          src="images/Local Businesses/Patchwork_Cottage_1.jpg"
          alt="Patchwork Cottage"
          name="Patchwork"
          width="300"
          height="201"
          border="1"
          id="Patchwork"
      /></a>
    </div>
  </div>
  {% include 'nav.html'%}
</div>
