---
layout: base.html
title: Local Westmuir Companies
---

<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <img
        src="images/Local Businesses/Banner_Local_Businesses.jpg"
        alt="Banner_Galleries"
        name="Banner_Galleries"
        width="1024"
        height="200"
        border="1"
        id="Banner_Galleries"
      />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>{% include 'nav.njk' %}</td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="5">
      <p align="center" class="style2">
        Westmuir is host to a number of successful companies which operate
        throughout Angus and much further afield. The links below offer contact
        details and may also lead to further information or to the relevant
        company website where appropriate.
      </p>
    </td>
  </tr>
  <tr>
    <td align="center"><a href="Link Page to Seasonal Pictures.html"></a></td>
    <td align="center">
      <a
        href="http://www.plovermuircottages.co.uk"
        target="_blank"
        onmouseover="MM_swapImage('Plovermuir','','images/Local Businesses/Plovermuir_2.jpg',1)"
        onmouseout="MM_swapImgRestore()"
        ><img
          src="images/Local Businesses/Plovermuir_1.jpg"
          name="Plovermuir"
          width="300"
          height="201"
          border="1"
          id="Plovermuir"
      /></a>
    </td>
    <td align="center">
      <a
        href="http://www.garysinclairarchitecture.com/"
        target="_blank"
        onmouseover="MM_swapImage('Gary Sinclair','','images/Local Businesses/Gary_Sinclair_2.jpg',1)"
        onmouseout="MM_swapImgRestore()"
        ><img
          src="images/Local Businesses/Gary_Sinclair_1.jpg"
          alt="Gary Sinclair Architecture"
          name="Gary Sinclair"
          width="300"
          height="201"
          border="1"
          id="Gary Sinclair" /></a
      ><a href="http://www.garysinclairarchitecture.com/" target="_blank"></a>
    </td>
    <td align="center">
      <a
        href="http://www.patchworkcottage.co.uk/"
        target="_blank"
        onmouseover="MM_swapImage('Patchwork','','images/Local Businesses/Patchwork_Cottage_2.jpg',1)"
        onmouseout="MM_swapImgRestore()"
        ><img
          src="images/Local Businesses/Patchwork_Cottage_1.jpg"
          alt="Patchwork Cottage"
          name="Patchwork"
          width="300"
          height="201"
          border="1"
          id="Patchwork"
      /></a>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>{% include 'nav.njk'%}</td>
  </tr>
</table>
<p align="center">
  <a href="http://get.adobe.com/uk/reader/otherversions/" target="_blank"
    ><img
      src="images/Adobe _Reader.gif"
      alt="Get Adobe Reader"
      width="112"
      height="33"
      border="0"
  /></a>
</p>
<p>&nbsp;</p>
