---
layout: base.html
title: Kirriemuir Path Network
---

<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="9">
      <img
        src="images/Banner_Path_Network.jpg"
        alt="Kirriemuir Path Network"
        name="Banner_Path_Network"
        width="1024"
        height="200"
        border="1"
        id="Banner_Path_Network"
      />
    </td>
  </tr>
  <tr>
    <td colspan="9">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="9">{% include 'nav.njk' %}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="6">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="169" height="279" valign="top">
      <a href="PDF Pages/Kirriemuir Path Network Leaflet.pdf" target="_blank"
        ><img
          src="images/Path_Leaflet.jpg"
          alt="Path Network Leaflet"
          name="Path_Leaflet"
          width="165"
          height="368"
          border="1"
          id="Path_Leaflet"
      /></a>
    </td>
    <td width="6">&nbsp;</td>
    <td colspan="6" valign="top">
      <p align="left" class="style4">
        Westmuir is linked to Kirriemuir and the surrounding area by a path
        network. Angus Council have produced a
        <a href="PDF Pages/Kirriemuir Path Network Leaflet.pdf" target="_blank"
          >leaflet containing a map</a
        >
        and information about a series of local signposted walks. Printed copies
        of the leaflet are available from the Kirriemuir Library.
      </p>
      <p align="left" class="style4">
        The Path Network offers walks of varying distances ranging from 1.5 to
        3.5 miles. Longer walks can be planned by combining a number of sections
        from several walks.
      </p>
      <p align="left" class="style4">
        A wide range of plant and animal life can be seen on most of these
        walks, so do allow plenty of time to enjoy. It is also worth taking
        binoculars if you have them . . . . there are some lovely views and of
        course the
        <a
          href="http://www.rspb.org.uk/reserves/guide/l/lochofkinnordy/about.asp"
          target="_blank"
          >Kinnordy Loch Bird Sanctuary</a
        >
        is a huge attraction for bird watchers with it's hides and wetland
        walkways.
      </p>
      <p align="left" class="style4">
        Each season of the year brings a different character to all of the walks
        on the
        <a href="PDF Pages/Kirriemuir Path Network Leaflet.pdf" target="_blank"
          >Kirrie Path Network</a
        >. As a result they can be equally enjoyed in Winter, Spring, Summer and
        Autumn.
      </p>
    </td>
    <td width="369" valign="top">
      <img
        src="images/Path_Signposts.jpg"
        alt="Signposts"
        name="Path_Signposts"
        width="275"
        height="368"
        border="1"
        id="Path_Signposts"
      />
    </td>
  </tr>
  <tr>
    <td height="7" colspan="9">&nbsp;</td>
  </tr>
  <tr>
    <td class="style4">
      The Path Network is well signposted and the different routes are easy to
      follow from the leaflet. There are several local folk who would be
      delighted to show you around.
    </td>
    <td>&nbsp;</td>
    <td valign="top">
      <img
        src="images/Path_Flower.jpg"
        alt="Path Flowers"
        name="Path_Flora_1"
        width="142"
        height="200"
        border="1"
        id="Path_Flora_1"
      />
    </td>
    <td width="7">&nbsp;</td>
    <td valign="top">
      <img
        src="images/Path_Toadstools.jpg"
        alt="Path Toadstools"
        name="Path_Flora_2"
        width="240"
        height="200"
        border="1"
        id="Path_Flora_2"
      />
    </td>
    <td width="8">&nbsp;</td>
    <td valign="top">
      <img
        src="images/Path_Insect.jpg"
        alt="Path Insect"
        name="Path_Flora_3"
        width="142"
        height="200"
        border="1"
        id="Path_Flora_3"
      />
    </td>
    <td width="8">&nbsp;</td>
    <td valign="top">
      <img
        src="images/Path_Cattle.jpg"
        alt="Path_Cattle"
        name="Path_Cattle"
        width="275"
        height="200"
        border="1"
        id="Path_Cattle"
      />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td width="142">&nbsp;</td>
    <td width="7">&nbsp;</td>
    <td width="240">&nbsp;</td>
    <td width="8">&nbsp;</td>
    <td width="142">&nbsp;</td>
    <td width="8">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="371" align="left" valign="top">
      <img
        src="images/Path_Mapreader.jpg"
        alt=""
        name="Map_Reading"
        width="350"
        height="350"
        border="1"
        id="Map_Reading"
      />
    </td>
    <td width="336" align="right" valign="top" bordercolor="1">
      <p align="center">
        The paths offer a variety of walks of varying distance ranging from 1.5
        to 3.5 miles and most are suitable for all abilities.
      </p>
      <p align="center" class="style4">
        <img
          src="images/Kinnordy Harvest.jpg"
          alt=""
          name="Harvest"
          width="250"
          height="150"
          border="1"
          align="top"
          id="Harvest"
        />
      </p>
      <p align="center" class="style4">
        For the more adventurous, longer walks can be planned by combining a
        number of sections from several different paths.
      </p>
    </td>
    <td width="338" align="right" valign="top">
      <p align="center">
        Whatever your interests, walking in the local area offers a rich
        experience with differing lansdscapes and an abundance of wildlife to
        enjoy.
      </p>
      <p align="center" class="style4">
        <img
          src="images/Swans.jpg"
          alt=""
          name="Swans"
          width="250"
          height="150"
          border="1"
          align="top"
          id="Swans"
        />
      </p>
      <p align="center" class="style4">
        Each season of the year brings a different character to all of the walks
        on the Kirrie Path Network
      </p>
    </td>
  </tr>
  <tr>
    <td width="357" height="250">
      <img
        src="images/Path_Winter.jpg"
        alt="Paths in Winter"
        name="Kinnordy_Loch"
        width="300"
        height="250"
        border="1"
        id="Kinnordy_Loch"
      />
    </td>
    <td align="center">
      <img
        src="images/Path_Kinnordy_Loch.jpg"
        alt="Kinnordy Loch"
        name="Path_Winter"
        width="300"
        height="250"
        border="1"
        id="Path_Winter"
      />
    </td>
    <td align="right">
      <img
        src="images/Path_Summer.jpg"
        alt="Paths in Summer"
        name="Path_Summer"
        width="300"
        height="250"
        border="1"
        id="Path_Summer"
      />
    </td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table
        width="1024"
        border="1"
        cellpadding="0"
        cellspacing="1"
        bordercolor="#666666"
        bgcolor="#FFFFCC"
      >
        <tr>
          <td class="style6">
            <div align="center" class="style4"><a href="/">Home Page</a></div>
          </td>
          <td class="style6">
            <div align="center" class="style4">
              <a href="Woodland_Park.html">Woodland</a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style4">
              <a href="Path_Network.html">Paths Network</a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style4">
              <a href="Local_Activities.html">Activities</a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style4">
              <a href="History - Past and Present.html"
                >History Past &amp; Present </a
              ><a href="Local_Services.html"></a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="style6">
            <div align="center" class="style4">
              <a href="Westmuir Community Development Trust.html"
                >Westmuir Trust
              </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style4">
              <a href="Loch of Kinnordy.html">Loch of Kinnordy </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style4">
              <a href="Web_Links.html">Web Links </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style4">
              <a href="Contact_Us.html">Contact Us </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style4">
              <a href="Poet in Residence.html" target="_blank"
                >Poet in Residence</a
              ><a href="Link Page to Photo Galleries.html"></a>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p align="center">
  <a href="http://get.adobe.com/uk/reader/otherversions/" target="_blank"
    ><img
      src="images/Adobe _Reader.gif"
      alt="Get Adobe Reader"
      width="112"
      height="33"
      border="0"
  /></a>
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
