---
layout: base.html
title: Poet in Residence
---

<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <img
        src="images/Banner_Poets Corner.jpg"
        alt="Banner_Galleries"
        name="Banner_Galleries"
        width="1024"
        height="200"
        border="1"
        id="Banner_Galleries"
      />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>{% include 'nav.njk' %}</td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="1000" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="3"><div align="center"></div></td>
        </tr>
        <tr>
          <td colspan="3" class="style2">
            <div align="center">
              <p align="center" class="style46">
                Born in 1925, <strong>Eila Webster</strong> has spent her entire
                life living in Westmuir. Blessed with a fine memory, Eila was
                encouraged to write us a regular monthly poem which we featured
                on our website starting at Christmas in 2014. Since then Eila
                has kept on writing for us and we are now in our 5th year of
                capturing this wonderful collection of her poetry for all to
                enjoy !
              </p>
              <p align="center" class="style46">
                As well as her poems listed below, you can also read about Eila
                the <strong>Pianist</strong>, the <strong>Poet</strong>, the
                <strong>Performer</strong>, the
                <strong>Published Writer</strong> and multiple
                <strong>Prize Winner</strong> as she recalls local people and
                memorable events decade by decade. Now 95 years young, this is a
                fascinating and poignant personal account of a lifetime in
                Westmuir and is not to be missed.
              </p>
              <p align="center" class="style46">
                <a href="PDF Pages/Eila's_Story_Part1.pdf" target="_blank"
                  >Read Eila's Story Here
                </a>
              </p>
            </div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>April 2020 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/2020 April Lockdown.pdf"
              target="_blank"
              >Lockdown - A Poem During the Global Coved-19 Pandemic
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>March 2020</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2020 March.pdf" target="_blank"
              >95 Years Young</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>February 2020 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2020 February.pdf" target="_blank"
              >Our Changing Seasons
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>January 2020</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2020 January.pdf" target="_blank"
              >Thoughts for the New Year</a
            >
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>December 2019</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 December.pdf" target="_blank"
              >It's the Christmas Season Again
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>November 2019 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 November.pdf" target="_blank"
              >Reedie's Tatties -1971</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>October 2019 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 October.pdf" target="_blank"
              >Tattie Picking . . . 1967</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>September 2019 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 September.pdf" target="_blank"
              >September. . . A Special Month</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>August 2019 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 August.pdf" target="_blank"
              >August is the Month for Fruit
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>July 2019 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 July.pdf" target="_blank"
              >July's Long Summer Days</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>June 2019</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 June.pdf" target="_blank"
              >June is the Month of Roses
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>May 2019</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 May.pdf" target="_blank"
              >Colourful May</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>Special Edition </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/2019 Defibrillator Poem.pdf"
              target="_blank"
              >Westmuir's Defibrillator
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>April 2019</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 April.pdf" target="_blank"
              >April's Charm</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>March 2019 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 March.pdf" target="_blank"
              >The Great Outdoors is Wakening Up</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>February 2019 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 February.pdf"
              >The month of Subtle Change</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>January 2019</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2019 January.pdf" target="_blank"
              >Another Year Begins</a
            >
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>December 2018 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 December.pdf" target="_blank"
              >Christmas 2018
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>November 2018 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 November.pdf" target="_blank"
              >I Greet the Dawn</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>October 2018</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 October.pdf" target="_blank"
              >Farming Matters
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>September 2018 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 September.pdf" target="_blank"
              >Appreciation and Contentment</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>August 2018 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 August.pdf" target="_parent"
              >Summer Weather</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>July 2018</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 July.pdf" target="_blank"
              >Summer Relaxation &amp; Fun</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>June 2018 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 June.pdf" target="_blank"
              >All Change on the Money Front</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>May 2018 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 May.pdf" target="_blank"
              >May Blossom
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>April 2018</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 April.pdf" target="_blank"
              >Life's Race</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>March 2018 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 March.pdf" target="_blank"
              >March Winds</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>February 2018 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 February.pdf" target="_blank"
              >February Thoughts</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>January 2018 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2018 January.pdf">The New Year </a>
          </td>
        </tr>
        <tr>
          <td width="312">&nbsp;</td>
          <td width="22">&nbsp;</td>
          <td width="388">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>December 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 December.pdf" target="_blank"
              >Christmas</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>November 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 November.pdf" target="_blank"
              >Truth or Lie ?
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>October 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 October.pdf" target="_blank"
              >The Promise</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>September 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 September.pdf" target="_blank"
              >Just for a Laugh
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>August 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 August.pdf" target="_blank"
              >Always Give of Your Best
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>July 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 July.pdf" target="_blank"
              >At the Health Centre
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>June 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 June.pdf" target="_blank"
              >Free Gifts
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>May 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 May.pdf" target="_blank"
              >The Precious Gift
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>April 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 April.pdf" target="_blank"
              >Memories of Long Ago
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>March 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 March.pdf" target="_blank"
              >Snow</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>February 2017 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 February.pdf" target="_blank"
              >A Sad Dog</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>January 2017</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2017 January.pdf" target="_blank"
              >Looking to the Future</a
            >
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>December 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 December.pdf" target="_blank"
              >December Celebrations</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>November 2016</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 November.pdf" target="_blank"
              >November</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>October 2016</strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 October.pdf" target="_blank"
              >October Flashsbacks</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>September 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 September.pdf" target="_blank"
              >Goodbye August . . . Hello September</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>August 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 August.pdf" target="_blank"
              >August Reflections</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>July 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 July.pdf" target="_blank"
              >Midsummer Days in July
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>June 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 June.pdf" target="_blank"
              >The Happy Month of June</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>May 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 May.pdf" target="_blank"
              >May Reflections
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>April 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 April.pdf" target="_blank"
              >Spring 2016</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>March 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 March.pdf" target="_blank"
              >March Reflections</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>February 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 February.pdf" target="_blank"
              >February Thoughts</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>January 2016 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a href="PDF Pages/Monthly Poems/2016 January.pdf" target="_blank"
              >New Year 2016
            </a>
          </td>
        </tr>
        <tr>
          <td><div align="right"></div></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>December 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/December Poem -Eila's Reflections.pdf"
              target="_blank"
              >Eila's December Reflections
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>November 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/November Poem - Martinmas Winter Term.pdf"
              target="_blank"
              >November Martinmas Winter Term
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>October 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/October Website Poem 2015.pdf"
              target="_blank"
              >October Tattie Holidays
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>September 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/September Poem 2015.pdf"
              target="_blank"
              >September ~ My Favourite</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>August 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/August Poem - The Heather Hills of August.pdf"
              target="_blank"
              >The Heather Hills of August</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>July 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/July Poem - The Berries in July.pdf"
              target="_blank"
              >The Berries in July</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>June 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/June Poem - June Amongst the Roses.pdf"
              target="_blank"
              >June Amonst the Roses
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>May 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/May Poem by Eila Webster.pdf"
              target="_blank"
              >The Merry Month of May</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>April 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/April Poem - Spring Clean.pdf"
              target="_blank"
              >Spring Cleaning
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>March 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/March Poem - Eila's 90th Birthday  21 02 2015.pdf"
              target="_blank"
              >Eila's 90th Birthday Poem</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>February 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/February  Poem The Birthday Month.pdf"
              target="_blank"
              >The Birthday Month</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>January 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/January Poem A Moment in Time.pdf"
              target="_blank"
              >A Moment in Time</a
            >
          </td>
        </tr>
        <tr>
          <td><div align="right"></div></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>Summer Extra 2015 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/Extra Poem - The Weather.pdf"
              target="_blank"
              >The Weather</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <div align="right"><strong>Christmas 2014 </strong></div>
          </td>
          <td>&nbsp;</td>
          <td>
            <a
              href="PDF Pages/Monthly Poems/Meaningful_Christmas_by_Eila.pdf"
              target="_blank"
              >Meaningful Christmas</a
            >
          </td>
        </tr>
      </table>
      <p align="center" class="style7">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="Link Page to Seasonal Pictures.html"></a
      ><a
        href="http://picasaweb.google.co.uk/102240163192403387828/WestmuirVillageViews?feat=directlink"
        target="_blank"
      ></a
      ><a
        href="http://picasaweb.google.co.uk/102240163192403387828/WestmuirCommunityWoodlandGallery?feat=directlink"
        target="_blank"
      ></a>
    </td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table
        width="1024"
        border="1"
        cellpadding="0"
        cellspacing="1"
        bordercolor="#666666"
        bgcolor="#FFFFCC"
      >
        <tr>
          <td class="style6">
            <div align="center" class="style2"><a href="/">Home Page</a></div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Woodland_Park.html">Woodland</a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Path_Network.html">Paths Network</a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Local_Activities.html">Activities</a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="History - Past and Present.html"
                >History Past &amp; Present</a
              ><a href="Poet in Residence.html" target="_blank"></a
              ><a href="Local_Services.html"></a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Westmuir Community Development Trust.html"
                >Westmuir Trust
              </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Loch of Kinnordy.html">Loch of Kinnordy </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Web_Links.html">Web Links </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Contact_Us.html">Contact Us </a>
            </div>
          </td>
          <td class="style6">
            <div align="center" class="style2">
              <a href="Poet in Residence.html" target="_blank"
                >Poet in Residence</a
              ><a href="Link Page to Photo Galleries.html"></a>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p align="center">
  <a href="https://get.adobe.com/uk/reader/otherversions/" target="_blank"
    ><img
      src="images/Adobe _Reader.gif"
      alt="Get Adobe Reader"
      width="112"
      height="33"
      border="0"
  /></a>
</p>
<p>&nbsp;</p>
