---
layout: base.html
title: Village History
css: css/history.css
---

<div class="main-wrapper">
  <img
    class="banner-image"
    src="images/Banner_History.jpg"
    alt="Village History"
    name="History_Banner"
    id="History_Banner"
  />

  {% include 'nav.njk' %}

  <div class="main-content">
    <p class="style8">
      This page gives some background historical information about the village
      and surrounding area. If you have any questions or interesting information
      about Westmuir in times past or present, please use the
      <a href="Contact_Us.html">Contact Page</a> to let us know. We'd love to
      hear from you!
    </p>
    <p class="style8">
      Click on these links for a selection of
      <a
        href="http://picasaweb.google.co.uk/102240163192403387828/WestmuirArchiveGallery?feat=directlink"
        target="_blank"
        class="style12"
        >ARCHIVE PHOTOGRAPHS</a
      >
      and an interesting
      <a
        href="PDF Pages/Westmuir - A Historical Summary.pdf"
        target="_blank"
        class="style12"
        >HISTORICAL SUMMARY</a
      >
    </p>

    <div class="history-row">
      <div class="history-item-text">
        <p align="left" class="style10">
          Westmuir village sits about 2 miles from the centre of Kirriemuir and
          is surrounded by farmland and woodland. In the days gone by the land
          was used extensively for growing soft fruit, mainly raspberries. There
          were at least 8 small privately owned holdings where the fruit was
          produced in the village and a large farm managed by Smedleys at
          herdhill. The farmland is now used mainly for cereal crops, potatoes
          and oilseed rape.
        </p>
        <p align="left" class="style10">
          The village first started to develop when land was given as
          smallholdings to soldiers returning from the Napoleonic Wars. Over
          time the fortunes of Westmuir have become closely related to the
          nearby community of Kirriemuir where in the more recent past,
          employment was found in the textile industry there. The population of
          westmuir is around 500 and has grown in number over the last thirty
          years, as has the whole of the Kirriemuir area.
        </p>
      </div>

      <div class="history-item-image">
        <img
          src="images/Oil_Seed_Rape_1.jpg"
          alt="Oil Seed Rape"
          name="Crop_1"
          id="Crop_1"
        /><img
          src="images/Raspberries_1.jpg"
          alt="Raspberries"
          name="Fruit_1"
          id="Fruit_1"
        />
        <img
          src="images/Cereal_Crop_1a.jpg"
          alt="Barley Crop"
          name="Barley_1"
          id="Barley_1"
        />
      </div>
    </div>

    <div class="history-row">
      <div>
        <img
          src="images/Plough_1.jpg"
          alt="Plough"
          name="Tractor_1"
          id="Tractor_1"
        />
      </div>
      <div class="history-item-text">
        The main sources of employment for local residents nowadays are in
        Office Work, Education and the Health Services. Trades and Construction,
        Agriculture, Transport and Retail Sectors also provide a signficant
        number of jobs for local people. Residents' 'travel-to-work' patterns
        show that the main locations for work are in Kirriemuir, Forfar and
        Dundee. There are a few jobs in Westmuir itself - Agriculture,
        Horticulture, Retail and Self-employment of various kinds.
      </div>
    </div>

    <div class="history-row">
      <div>
        <img
          src="images/Combine_Harvester_1.jpg"
          alt="Combine Harvester"
          name="Harvester_1"
          id="Harvester_1"
        />
      </div>
      <div class="history-item-text">
        The most recent historical development was the formation of a Community
        Development Group of which all villagers can become members. This new
        initiative has resulted in the creation of a
        <a href="Woodland_Park.html">Community Woodland</a> and recreational
        area in a previously unused area beside Westmuir. This aims to provide a
        designated safe play area for children and to foster an interest in, and
        care of, wildlife in the local environment.
      </div>
    </div>

    <p align="center" class="style9">
      Today most services and facilities are located in Kirriemuir, however the
      village has a vibrant Shop / Post Office and an active Village Hall
      Association as well as a number of local groups such as:
    </p>
    <p align="center" class="style9">
      <a href="PDF Pages/Activities pdfs/Westmuir Tots Time.pdf" target="_blank"
        >Tot's Time</a
      >,
      <a href="PDF Pages/Activities pdfs/Westmuir SWRI.pdf" target="_blank"
        >Women's Rural</a
      >,
      <a href="PDF Pages/Activities pdfs/Westmuir Tai Chi.pdf" target="_blank"
        >Tai Chi</a
      >,
      <a
        href="PDF Pages/Activities pdfs/Westmuir_Yoga_Class.pdf"
        target="_blank"
        >Dru Yoga
      </a>
      .
    </p>

    <div class="history-row">
      <div class="history-item-image">
        <img
          src="images/History_Shoppie.jpg"
          alt="Post Office"
          name="Post_Office_1"
          id="Post_Office_1"
        />
      </div>
      <div class="history-item-image">
        <img src="images/History_Old_1.jpg" alt="" name="Old_1" id="Old_1" />
      </div>
      <div class="history-item-image">
        <a href="Woodland_Opening.html">
          <img
            src="images/Woodland_Event_1.JPG"
            alt="Woodland Event"
            name="Woodland_Event"
            id="Woodland_Event"
        /></a>
      </div>
      <div class="history-item-image">
        <img src="images/History_Old_2.jpg" alt="" id="Old_2" />
      </div>
      <div class="history-item-image">
        <a href="Woodland_Park.html">
          <img
            src="images/History_Feeder.jpg"
            alt="Bird Feeder"
            name="Bird_Feeder"
            id="Bird_Feeder"
        /></a>
      </div>
    </div>
  </div>
  {% include 'nav.njk' %}
</div>
