---
layout: base.html
title: Westmuir Community Development Trust
---

<div class="main-wrapper">
  <img
    src="images/Banner_Development_Trust.jpg"
    alt="Banner_Community_Trust"
    name="Banner_Activities"
    class="banner-image"
    id="Banner_Activities"
  />

  {% include 'nav.html' %}

  <p>
    <span class="style10">Westmuir Community Development Trust</span>
  </p>

  <div class="main-content">
    <p align="justify">
      <img
        src="images/Westmuir Community Development Trust_clip_image002.jpg"
        alt="Trust Logo"
        width="86"
        height="151"
        hspace="12"
        align="left"
      /><span
        >Westmuir Community Development Trust was formed in 2004 following a strong desire for such
        an organisation having been expressed through a survey of the local community in Westmuir.
        Membership of the Trust, which is managed by a small team of local Directors, is open to all
        Westmuir residents who register, with no fee required. The more people who register, the
        stronger our voice or bargaining strength will be when dealing with organisations such as
        the Council or when seeking funding for developments or improvements within the
        village.</span
      >
    </p>
    <p align="justify">
      <span>The objectives of the Trust are:</span>
    </p>
    <div align="justify">
      <ul>
        <ul>
          <ul>
            <ul>
              <li>
                To provide, in the best interests of social welfare, facilities for recreation and
                other leisure time activity available to the public at large in Westmuir and
                surrounding area.
              </li>
              <li>To preserve, restore and improve the environment in the area.</li>
              <li>
                To advance education and to promote opportunities for learning and to raise
                awareness and interest in the local environment, culture and heritage.
              </li>
            </ul>
          </ul>
        </ul>
      </ul>
    </div>
    <p>
      One of the principle ways of meeting these objectives was the creation of the
      <a href="Woodland_Park.html" target="_blank">Westmuir Community Woodland Park</a>
      which lies on the Western outskirts of the village. The woodland itself is leased to the Trust
      for a token annual rent and has already seen significant development since its inauguration as
      a community resource.&nbsp; It has been carefully thinned out and now boasts a pleasant
      network of paths and boarded walkways, dry-stone features at the entrances and a seating
      circle.
    </p>
    <p>
      There are numerous bird boxes and areas of wetland which provide a unique area for people,
      birds and local wildlife.&nbsp; The Woodland also boasts grass play area for local youngsters
      and a tree nursery area.&nbsp; There is car parking at the West entrance and useful
      information boards at both ends of the woodland which help visitors make the most of their
      visit.
    </p>
    <p>
      Another Trust Development is the provision of the
      <a href="/" target="_blank">Westmuir Village Website</a> as a means of promoting the area and
      its people, activities and attractions.&nbsp; The website, which was developed and is
      maintained by local volunteers, provides a modern way of communicating local group activities,
      interests and news items and upcoming events are posted regularly.&nbsp; The website has
      proved popular and is accessed on a daily basis from Westmuir and around the world.
    </p>
    <p align="center">The most recent</p>
    <p align="center">
      <a href="PDF Pages/Complete WCDT Annual Report 2021 - 2022 pdf (1).pdf" target="_blank"
        ><strong
          >Latest Trustees' Annual Report incorporating the Report of the Directors.</strong
        ></a
      >
    </p>
    <p align="center">can be read by clicking on the above link.</p>
    <p align="center">
      <span class="style10">Why not join us ? </span>
    </p>
    <p align="center">
      If you are not already a member of the Trust and would like to be, please print this
    </p>
    <p align="center">
      <a href="PDF Pages/WCDT_Membership_Application.pdf" target="_blank">Application Form</a>
    </p>
    <p align="center">and hand it it to the Westmuir Shoppie.</p>
    <p align="center" class="style10">Would you like to make a Donation?</p>
    <p align="center">
      The Westmuir Community Development Trust makes
      <strong>no charge for membership</strong> and depends on
      <strong>goodwill and donations</strong> to meet the annual costs of rent, insurance and
      maintenance of the Woodland Park in particular.<br />
      If you appreciate and enjoy these facilities and would like to<strong> contribute</strong>
      towards the ongoing success of the Woodland Park as well as the future work of the Westmuir
      Community Development Trust, but are perhaps unable to attend fund-raising events, you can
      make your
      <strong>donation in a sealed envelope marked &lsquo;Westmuir Trust&rsquo;</strong>
      and hand it in to <strong>The Westmuir Shoppie</strong> where you can be assured it will be
      passed on.&nbsp; Please mark you name on the envelope so that we can acknowledge your
      donation.<br />
      <strong
        >Your help and support, whether physical or financial, for our efforts in building and
        improving our local community will be very much appreciated.</strong
      >
    </p>
  </div>

  {% include 'nav.html'%}
</div>
