---
layout: base.html
title: Opening Day at the Community Woodland
---

<div class="main-wrapper">
  <img
    class="banner-image"
    src="images/Banner_Oficial_Opening.jpg"
    alt="Woodland Opening"
    name="Woodland_Opening"
    id="Woodland_Opening"
  />

  {% include 'nav.njk' %}

  <div class="main-content">
    <br />
    <div class="column-2">
      <div>
        <img
          src="images/Cutting_the_Ribbon.JPG"
          alt="Cutting the Ribbon"
          name="Ribbon_Cutting_Picture"
          id="Ribbon_Cutting_Picture"
        />
        The official opening of the Community Woodland Park took place on
        Saturday 27th August 2007. The ceremonial ribbon was cut by Mr Roy
        Madden of Angus Environmental Trust.
      </div>
      <div>
        <img
          src="images/Reception_in_Village.jpg"
          alt="Reception in Village Hall"
          name="Reception_Village_Hall"
          id="Reception_Village_Hall"
        />
        Prior to the opening, a short reception was held in the village hall for
        invited guests - all of whom had helped in some way in the creation of
        the Park.
      </div>

      <div>
        <img
          src="images/Tree_Planting_alt.jpg"
          alt="The Colyton Rowan"
          name="Tree_Planting"
          id="Tree_Planting"
        />

        <p>The Colyton Rowan / Oak</p>
        <p>
          Following the ribbon cutting ceremony a symbolic tree planting was
          carried out by Tom Hopkinson. Tom is the son of Lord Colyton and
          thanks were expressed for all their assistance and in particular for
          leasing the land to the community. The rowan tree, which was to be
          known as the Colyton Rowan, was very generously donated by our well
          known plant specialist Ian Christie. Sadly, due to the wet, heavy soil
          the Rowan has since died. Undaunted, it has already been replaced by
          an Oak tree on a mound with a drainage ditch. The Oak is more suited
          to this type of site and once established should grow away
          satisfactorily.
        </p>
      </div>
      <div>
        <img
          src="images/Woodland_Picnic.JPG"
          alt="Woodland Picnic"
          name="Woodland_Kids"
          id="Woodland_Kids"
        />
        <p>Treasure Trails</p>
        <p>
          The younger members of the community (and a few Mums and Dads) were
          kept occupied by a Teddy Trail and Wild Things treasure trail. These
          activities were enjoyed by all and helped to add a magical content to
          the day for all the younger members.
        </p>
      </div>

      <div>
        <img
          src="images/Village_BBQ.JPG"
          alt="Village BBQ"
          name="Village_BBQ"
          id="Village_BBQ"
        />
      </div>
      <p>Afterwards, at the Village Hall, a barbeque was enjoyed by all!</p>
    </div>
  </div>

  {% include 'nav.njk'%}
</div>
