---
layout: base.html
title: Westmuir Community Woodland Park
---

<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="1024" colspan="3">
      <a href="/"
        ><img
          src="images/Banner_Woodland_Park_Text.jpg"
          alt="Woodland Banner"
          name="Woodland_Banner"
          width="1024"
          height="200"
          border="1"
          id="Woodland_Banner"
      /></a>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">{% include 'nav.njk' %}</td>
  </tr>
  <tr>
    <td colspan="3">
      <p align="center" class="style2">
        The desire to have a safe play area for local children had been
        considered at various times for Westmuir village.&nbsp;&nbsp; The
        resulting transformation of a veritable scrubland into an accessible,
        appealing and attractive village amenity clearly demonstrates what can
        be achieved by harnessing the views of a supportive community with the
        combined enthusiasm and perseverance of a hard working development
        group.
      </p>
      <p align="center" class="style2">
        Click on the links to the
        <a href="Woodland_Opening.html" target="_blank">Woodland Opening</a>,
        the
        <a href="PDF Pages/Tree_Planting_5th_December_2009.pdf" target="_blank"
          >National Tree Planting Day</a
        >
        and a
        <a href="PDF Pages/Activity_Day_June_2009.pdf" target="_blank"
          >Woodland Activity Day</a
        >
        which demonstrate how popular the Community Woodland has become.
      </p>
      <div align="right"></div>
    </td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <img
        src="images/Scrubland_2.JPG"
        alt="Before"
        name="Before_1"
        width="300"
        height="200"
        border="1"
        id="Before_1"
      />
    </td>
    <td align="center" class="style2">
      Thanks to the Westmuir Hall Association and the Westmuir Community
      Development Trust, great progress was made in a relatively short time. A
      Community Futures process was initiated in 2003 with the help of Angus
      Rural Partnership and STAR (Small Town and Rural Development Group). A
      Community Survey issued to all residents was an essential part of this
      process and high on the community plan wish list was &ldquo;Somewhere safe
      for children to play&rdquo;
    </td>
    <td width="170">
      <img
        src="images/Woodland_After_1.jpg"
        alt="After the Project"
        name="After_1"
        width="300"
        height="200"
        border="1"
        id="After_1"
      />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <img
        src="images/Woodland_Before_2.jpg"
        alt="Before"
        name="Before_2"
        width="300"
        height="200"
        border="1"
        id="Before_2"
      />
    </td>
    <td align="center">
      <span class="style2"
        >British Trust Conservation Volunteers agreed to project manage the
        contract and carried out the work in the Winter of 2006/7. The Woodland,
        being a wetland area, did not provide the best conditions for BTCV but
        in due course the extensive board walks were put in place, the entrance
        fencing with gateways were built and the paths cleared and laid with
        quarry sand. Almost immediately residents seemed to engage with the area
        and it was clear that people all ages were enjoying spending time there.
      </span>
    </td>
    <td>
      <img
        src="images/Woodland_After_2.jpg"
        alt="After the Project"
        name="After_2"
        width="300"
        height="200"
        border="1"
        id="After_2"
      />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="169">
      <img
        src="images/Woodland_Before_3.jpg"
        alt="Before"
        name="Before_3"
        width="300"
        height="200"
        border="1"
        id="Before_3"
      />
    </td>
    <td width="685" align="center">
      <span class="style2"
        >The Westmuir Community Development Trust (WCDT) led the Woodland
        project from 2004 and within 3 years the major part of the physical work
        was completed with the essential and much appreciated funding provided
        by Angus Environmental Trust and Rural Challenge Fund. This has been a
        major project which not many villages would have accomplished. Westmuir
        can be proud of what has been achieved by the community!
      </span>
    </td>
    <td>
      <img
        src="images/Woodland_After_3.jpg"
        alt="After the Project"
        name="After_3"
        width="300"
        height="200"
        border="1"
        id="After_3"
      />
    </td>
  </tr>

  <tr>
    <td height="50">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <img
        src="images/Curved_Wall_1.jpg"
        alt="Dry Stone Dykers"
        name="Nest_Box_1"
        width="300"
        height="200"
        border="1"
        id="Nest_Box_1"
      />
    </td>
    <td>
      <div align="center">
        <img
          src="images/Information_Board.jpg"
          alt="Entrance Panel"
          name="Curved_Wall_1"
          width="300"
          height="200"
          border="1"
          id="Curved_Wall_1"
        />
      </div>
    </td>
    <td>
      <div align="right">
        <img
          src="images/Westmuir_Wallers.jpg"
          alt="Westmuir Wallers!"
          name="Information_Board_1"
          width="300"
          height="200"
          border="1"
          id="Information_Board_1"
        />
      </div>
    </td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="319" class="style2">
      <div align="center">
        <p>
          Attractive curved walls have been built at each entrance all thanks to
          the efforts of the local members of the
          <a href="http://dswa.org.uk" target="_blank"
            >Dry Stone Walling Association</a
          >. These have added great character to the village as well as the
          woodland itself.
        </p>
        <p>&nbsp;</p>
      </div>
    </td>
    <td width="60">&nbsp;</td>
    <td width="304" class="style2">
      <div align="center">
        Further improvements by WCDT included the provision of interpretation
        panels at each entrance and large &lsquo;entrance&rsquo; notice. These
        give visitors an insight to what they can expect within the woodland and
        make an attractive addition.
      </div>
    </td>
    <td width="36">&nbsp;</td>
    <td width="305" class="style2">
      <div align="center">
        Three well known villagers have gained valuable new skills during this
        project and we will now be able to carry out ongoing maintenance of the
        walling as a result. Why not become involved yourself? Get in touch via
        the
        <a href="Contact_Us.html">Contact Page</a> and offer your help.
      </div>
    </td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="369">&nbsp;</td>
    <td width="350">&nbsp;</td>
    <td width="305">&nbsp;</td>
  </tr>
  <tr>
    <td>
      <a href="PDF Pages/Tree_Planting_5th_December_2009.pdf" target="_blank"
        ><img
          src="images/Woodland_Tree_Planting_Link.jpg"
          alt="National Tree Planting Day 2009"
          name="National_Tree_Planting_Day"
          width="300"
          height="200"
          border="1"
          id="National_Tree_Planting_Day"
      /></a>
    </td>
    <td>
      <a href="Woodland_Opening.html" target="_blank"
        ><img
          src="images/Woodland_Opening_Link.jpg"
          alt="Woodland Opening Day"
          name="Woodland_Opening"
          width="300"
          height="200"
          border="1"
          id="Woodland_Opening"
      /></a>
    </td>
    <td>
      <a href="PDF Pages/Activity_Day_June_2009.pdf" target="_blank"
        ><img
          src="images/Woodland_Activity_Day_Link.jpg"
          alt="Woodland Activity Day"
          name="Woodland_Activity_Day"
          width="300"
          height="200"
          border="1"
          id="Woodland_Activity_Day"
      /></a>
    </td>
  </tr>
</table>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="50">
      <div align="center" class="style2">
        ~Click on any of these three pictures to find out more about the
        Westmuir Community Woodland ~
      </div>
    </td>
  </tr>
  <tr>
    <td>{% include 'nav.njk'%}</td>
  </tr>
</table>
<p align="center">
  <a href="http://get.adobe.com/uk/reader/otherversions/" target="_blank"
    ><img
      src="images/Adobe _Reader.gif"
      alt="Get Adobe Reader"
      width="112"
      height="33"
      border="0"
  /></a>
</p>
