<header class="site-header">
  <div class="site-title">
    <a href="/" class="site-title">Westmuir Village</a>
  </div>
  <div class="header-inner">
    {% include "partials/nav" %}

    <button id="theme-toggle" class="theme-toggle-btn" title="Toggle Theme">
      <span id="darkmode-icon" class="material-symbols-outlined"
        >dark_mode</span
      >
    </button>
  </div>
</header>
