
<nav class="nav" role="navigation">
  <button id="nav-toggle" class="nav-toggle" aria-label="Toggle Menu">
    <span class="material-icons">menu</span>
  </button>
  <ul id="nav-menu" class="nav-menu">
    {% for item in nav %}
      <li class="{{ 'has-dropdown' if item.children }}">
        <a href="{{ item.url }}">
          {% if item.icon %}<span class="material-icons">{{ item.icon }}</span>{% endif %}
          {{ item.title }}
        </a>
        {% if item.children %}
          <ul class="dropdown">
            {% for child in item.children %}
              <li>
                <a href="{{ child.url }}">
                  {% if child.icon %}<span class="material-icons">{{ child.icon }}</span>{% endif %}
                  {{ child.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
